{% trans_default_domain 'back_modal_add_asset_result' %}

<div class="modal fade" id="addAssetResultModal" tabindex="-1" role="dialog" aria-labelledby="addAssetResultLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="{{ asset('bundles/strimeback/img/icon-close-modal.svg') }}" alt="{{ 'back.modal_add_asset_result.alt.close_window'|trans }}" title="{{ 'back.modal_add_asset_result.alt.close_window'|trans }}"></span></button>
            </div>
            <div class="modal-body">

                <div id="add-asset-result" class="alert"></div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
