/* Submenu styles
-------------------------------------------------- */

#sub-menu {
	background-color: #434344;
	padding: 18px;
}
#sub-menu ul {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
}
#sub-menu ul li {
	display: table-cell;
	text-transform: uppercase;
	text-align: center;
}
#sub-menu ul li a {
	font-family: 'UbuntuLight', sans-serif;
	font-size: 16px;
	color: #898B8E;
}
#sub-menu ul li a:hover,
#sub-menu ul li.active a {
	text-decoration: underline;
	color: #0CAC9A;
}
